gencode.v29.primary_assembly.annotation_UCSC_names.gtf
.DS_Store
bigWigToBedGraph
__pycache__/
data/
batch_runs/
test_repr.py
segway_runs/
ChromHMM/
files/
reprod_results/
test_files/
tests/
TEST_REPR/
